In [169]:
import pandas as pd 
import xml.etree.ElementTree as et 
import os

In [170]:
df_cols = ["text","labels"]
rows = []
for i in os.listdir("xml"):
    i= './xml/'+i
    xtree = et.parse(i)
    xroot = xtree.getroot() 
    for node in xroot: 
        s_body = node.find("body").text
        rows.append({"text": s_body,"label" : "1"})
        out_df =pd.DataFrame(rows, columns = df_cols)

In [171]:
out_df['labels']=0

In [172]:
out_df

                                                    text  labels
0                                    Right fuckin' here!       0
1                                                   Aye.       0
2      Who wants some pretty Polly and a bit of the o...       0
3      Here's my son at age one, crashed out after a ...       0
4      I just have to say that is the coolest freakin...       0
...                                                  ...     ...
15965  i don't go there but i live in sarasota and it...       0
15966      Hey, thank you so much. I don't live down ...       0
15967  yeah that is deffinetly what is known for arou...       0
15968  It seems like I get the same sort of response ...       0
15969  Hip is good.. very good.  Sounds like a good p...       0

[15970 rows x 2 columns]

In [173]:
out_df.drop_duplicates()

                                                    text  labels
0                                    Right fuckin' here!       0
1                                                   Aye.       0
2      Who wants some pretty Polly and a bit of the o...       0
3      Here's my son at age one, crashed out after a ...       0
4      I just have to say that is the coolest freakin...       0
...                                                  ...     ...
15965  i don't go there but i live in sarasota and it...       0
15966      Hey, thank you so much. I don't live down ...       0
15967  yeah that is deffinetly what is known for arou...       0
15968  It seems like I get the same sort of response ...       0
15969  Hip is good.. very good.  Sounds like a good p...       0

[2478 rows x 2 columns]

In [174]:
out_df.to_csv (r'\noraml_nodups.csv', index = False, header=True)